
@{
    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Demo", "Demo", FormMethod.Post))
        {
            <span>Thẻ textbox</span>
            @Html.TextBox("txtHoTen", "text", new { @id = "id1" })
            <br />
            <br />
            <span>Thẻ area</span>
            @Html.TextArea("txtDiaChi", new { @col = "20", @rows = "5" })

            <br />
            <br />
            <span>Thẻ password</span>
            @Html.Password("txtMatKhau", "matkhau", new { @id = "passwordid" })
            <br />
            <br />
            <span>Thẻ action link</span>
            @Html.ActionLink("Demo Action Link", "Index", "Demo", new { @thamso = "thamso" }, new { @id = "id", @class = "class" })
            <br />
            <br />
            <span>Thẻ hidden</span>
            @Html.Hidden("txtHidden", "123")
            <br />
            <br />
            <span>Thẻ radiobutton</span>
            @Html.RadioButton("GioiTinh", 0, true)<span>Nam</span>
            @Html.RadioButton("GioiTinh", 1, false)<span>Nữ</span>
            <br />
            <br />
            <span>Thẻ checkbox</span>
            @Html.CheckBox("TheThao", true, new { @value = "abc" })<span>Thể Thao</span>
            @Html.CheckBox("DuLich", false, new { @value = "abc" })<span>Du lịch</span>
            @Html.CheckBox("TheThao", false, new { @value = "abc" })<span>Chơi game</span>
            <br />
            <br />
            //Khai báo selectlist
            SelectList TinhThanhP = (SelectList)ViewBag.TinhThanhPho;
            <span>Thẻ select option</span>@Html.DropDownList("TenDDL", TinhThanhP, new { @id = "tagSelection" })
            <br />
            <br />
            <span>Thẻ listbox</span>@Html.ListBox("TenDDL", TinhThanhP, new { @id = "tagSelection" })
            <br />
            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>
